.query {
  background-color: rgb(32 34 37);
}
.query-btn {
  margin-top: 10px;
}
.get-data {
  width: 70%;
  margin: auto;
  border: 2px solid white;
  border-radius: 10px;
  border-style: dashed;
  padding: 60px 0;
}
.get-input {
  width: 300px;
}
.query-title {
  font-weight: 700;
  margin: 25px 0;
}
.retieved-data {
  font-size: 15px;
}
