body {
  background-color: rgba(32, 34, 37);
}
.nft-preview {
  overflow: hidden;
}
.main-explore-container {
  margin-left: 60px;
}
.upper-filters {
  color: white;
  height: 70px;
  margin: auto;
  margin-top: 20px;
  margin-left: 20px;
}
.total {
  height: 50px;

  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
}
.nft-card-row {
  margin: 0;
}
.nft-container {
  margin: auto;
}
.nft_card {
  padding: 10px;
}
.details-div {
  background-color: rgb(48 51 57);
  border: 1px solid rgb(21, 27, 34);
  /* height: 100%; */
  /* width: 320px; */
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;
  padding: 0;
}
.details-div .inner-div {
  width: 100%;
  height: 375px;
  background-color: aqua;
}
.buy-nft-image {
  object-fit: fill;
  height: 100%;
  width: 100%;
}
.ether-img {
  width: 20px;
  height: 20px;
}
.nft-details {
  width: 100%;
  margin: 0;
  font-size: 15px;
  padding: 5px;
}
.nft-owner-name-explore {
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.nft-details p {
  margin: 0 15px;
  font-weight: 600;
}
.nft-name-explore,
.nft-price-explore {
  color: white;
  width: 40%;

  padding: 20px 0;
}
.nft-price-explore {
  text-align: right;
}
.buy-details {
  margin: 0;
  width: 100%;
  height: 50px;
  color: rgb(32, 129, 226);
  background-image: linear-gradient(
    to bottom,
    rgba(32, 34, 37, 1) 5px,
    rgba(32, 34, 37, 0) 15px
  );
}
.buy-details p {
  color: rgb(32, 129, 226);
  font-size: 15px;
  font-weight: 600;
  margin: revert;
}
.det {
  position: relative;
  right: -60px;
}
.n {
  color: grey;
}
.dropdown {
  min-width: 15rem;
  position: relative;
  margin: 0 2em;
}
.dropdown * {
  box-sizing: border-box;
}
.select {
  background: #2a2f3b;
  height: 6rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px #2a3f3b solid;
  border-radius: 0.5rem;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
  margin-bottom: 5px;
}
.selected {
  font-size: 16px;
  font-weight: 600;
}
.select-clicked {
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}
.select:hover {
  background: #323741;
}
.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}
.explore-menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background-color: rgba(53, 56, 64, 0.8);
  backdrop-filter: blur(15px);
  border: 1px #363a43;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: white;
  position: absolute;
  /* top: 3em; */
  left: 50%;
  width: 100%;
  transform: translate(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}
.explore-menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.explore-menu li:hover {
  background: #2a2d35;
}
.active {
  background: #23242a;
}
.menu-open {
  display: block;
  opacity: 1;
}
.outer-container {
  position: relative;
}
.slider1 {
  width: 60px;
  /*20rem*/
  height: 64rem;
  border: 1px solid black;
  background-color: rgba(32, 34, 37, 0.6);
  backdrop-filter: blur(15px);
  position: fixed;
  top: 73px;
  left: 0;
  z-index: 100;
}

.open-close-pointer {
  width: 100%;
  height: 80px;
  /* background-color: greenyellow; */
  display: flex;
  text-align: center;
}
.expanded {
  width: 32rem;
}
.open-close-pointer img {
  /* margin: auto; */
  height: 30px;
  width: 30px;
  position: absolute;
  right: 12px;
  top: 20px;
  align-items: center;
}
.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}
.top-bar p {
  color: #fff;
  font-size: 19px;
  font-weight: 600;
  margin: 5px;
}
.filter {
  display: none;
}
.filter1 {
  display: flex;
}
.filter-img {
  width: 25px;
  height: 25px;
  margin: 5px;
}
.status-div {
  width: 100%;
  height: 20rem;
}
.status-div p {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 20px 15px;
  color: white;
}
.status-options {
  width: 100%;
  height: 17rem;
  background-color: rgba(53, 56, 64, 0.4);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.part1 {
  display: flex;
  justify-content: center;
}
.stat {
  width: 40%;
  font-size: 17px;
  font-weight: 600;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
  border: 1px solid black;
  color: white;
}
.flex-div {
  width: 100%;
}
.part1 input {
  border: 1px solid black;
  outline: 0;
  background: none;
}
.part2 button {
  background-color: rgb(32, 129, 226);
  display: block;
}
.filter-op {
  display: none;
}
.filter-op1 {
  display: block;
}
